NODE_ENV=dev
PORT=3001
DATABASE_URL="postgresql://iam_s_ts:iam_s_ts@localhost:5432/iam_s_ts"
JWT_ACCESS_SECRET=access-secret
# 15 M
JWT_ACCESS_EXPIRES_IN=900000
JWT_REFRESH_SECRET=refresh-secret
# 30 D
JWT_REFRESH_EXPIRES_IN=2592000000
